<%-include('partials/header')-%> <%-include('partials/nav-bar')-%>

<!-- Technical Session Cards Bootstrap -->
<section id="technical-sessions">
  <div class="container-fluid" id="content">
    <h3 class="session-title">Technical Sessions</h3>

    <div class="row">
      <% sessions.forEach(function(sessions){ %>
      <div class="session col-lg-4 md-6 sm-12">
        <div class="card">
          <div class="card-header"><%=sessions.heading%></div>
          <div class="card-body">
            <h3><%=sessions.invite%></h3>
            <p>Time: <%=sessions.time%></p>
            <p>Venue: <%=sessions.venue%></p>
            <p>Instructor: <%=sessions.instructor%></p>
            <button
              type="button"
              class="btn btn-dark"
              name="button"
              onclick="window.location.href = '<%=sessions.link%>';"
            >
              Join Meet
            </button>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</section>
<!-- Technical Session Cards Bootstrap -END -->

<%-include('partials/footer')-%> <%-include('partials/sticky-footer')-%>
